body{
  padding: 0;
  margin: 0;
  background: black;
}

.section{
  background: black;
  margin-top: 100px;
  height: 360px;
  overflow: hidden;
  border-bottom: 10px solid rgba(150, 104, 45, 1);
}

.flower{
  position: relative;
  top: 50px;
  left: 50px;
  float: left;
  z-index: 1;
  margin-left: 35px;
}

.flower.flower-white1{
  height: 80px;
  width: 80px;
  background: rgba(196, 49, 171, 0.8);
  border-radius: 50%;
  border: 2px solid rgba(196, 49, 171, 0.8);
  box-shadow: 0 0 0 10px rgba(255, 137, 235, 0.8), 0 0 0 10px rgba(196, 49, 171, 0.8) inset;
  z-index: 1;
  }

.flower span{
  background: rgba(137, 163, 19, 0.8);
  width: 10px;
  height: 250px;
  display: block;
  position: relative;
  left: 36px;
  top: 90px;
  }

.flower span:before{
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: rgba(137, 163, 19, 0.6);
  border-radius: 0 25px 0 25px;
  position: absolute;
  left: -47px;
  top: 70px;
  box-shadow: 0 0 0 5px rgba(137, 163, 19, 0.6);
  transform: rotateY(140deg);
}

.flower span:after{
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: rgba(137, 163, 19, 0.6);
  border-radius: 0 25px 0 25px;
  positon: absolute;
  top: 10px;
  left: 5px;
  transform: rotateY(-140deg);
}

